# DATABASE CREDENTIALS
user="db_username"
password="secure_db_password"
host="localhost"
db="MyCloude"

# SECURITY
# Generate a secure string, for example using: openssl rand -hex 32
SECRET_KEY=insert_a_random_64_character_string_here

# SSH CONFIGURATION (PRIVATE/PUBLIC)
REMOTE_SSH_PRIVATE_HOST=192.168.x.x
REMOTE_SSH_PUBLIC_HOST=xxx.xxx.xxx.xxx
REMOTE_SSH_PORT=22
REMOTE_SSH_USERNAME=ssh_username

REMOTE_SSH_CONNECT_TIMEOUT_PRIVATE=2
SSH_AUTO_ADD_HOST_KEY=true

# CHOOSE ONLY ONE SSH AUTHENTICATION METHOD:
# Use the private key path for key-based authentication
REMOTE_SSH_KEY_PATH=/path/to/your/key/.ssh/id_ed25519_or_id_rsa
# If your SSH key requires a passphrase, enter it here. Otherwise, leave empty or comment out.
REMOTE_SSH_KEY_PASSPHRASE="your_passphrase_here_if_applicable"
