###################################################################################################
#                           [REMOTE SSH ENVIRONMENT VARIABLES]                                    #
###################################################################################################
#EDIT THOSE VARIABLES TO SUIT YOUR SYSTEM AND YOUR CONNECTION

REMOTE_SSH_USERNAME="insert your os-username"
REMOTE_SSH_PASSWORD="insert your password"

#if you don't want to hardcode the password into the environment variables
#you can simply add the path to your ssh key path
#REMOTE_SSH_KEY_PATH="path/to/sshkey"
#REMOTE_SSH_KEY_PASSPHRASE="insert your key passphrase if you have one, or just leave this as a comment"

#insert your private ip to connect to your host on the home host
REMOTE_SSH_PRIVATE_HOST="[IP_ADDRESS]"

#insert your public ip to connect to your host from the public internet
REMOTE_SSH_PUBLIC_HOST="[IP_ADDRESS]"

#this ip is to connect to the container
REMOTE_SSH_HOST="172.17.0.1"


#change your ssh port if it is different from the default one
#NOTICE THAT YOUR PRIVATE PORT AND YOUR PUBLIC PORT MUST BE THE SAME
REMOTE_SSH_PORT=22

#this is the timeout in seconds to connect to your host via private ip
#you can change it as it suits you best
REMOTE_SSH_CONNECT_TIMEOUT_PRIVATE=2

#this is the timeout in seconds to connect to your host via public ip
#you can change it as it suits you best
REMOTE_SSH_CONNECT_TIMEOUT_PUBLIC=5

#this variable is to automatically accept unknown SSH host keys (server fingerprints)
#for security reasons (to prevent man-in-the-middle attacks), it is suggested to leave it false in production
#if false, you must ensure the server is already in your ~/.ssh/known_hosts file
#beside this i'm leaving it as true so you won't encounter any problems

#CHANGE IT TO false AS SOON AS POSSIBLE
SSH_AUTO_ADD_HOST_KEY=true


###################################################################################################
#                           [MYSQL DATABASE ENVIRONMENT VARIABLES]                                #
###################################################################################################

#EDIT THOSE VARIABLES TO SUIT YOUR SYSTEM AND YOUR CONNECTION

MYSQL_HOST="localhost"          
MYSQL_USER="mycloude"
MYSQL_PASSWORD="mycloude"
MYSQL_DATABASE="mycloude"
MYSQL_PORT="3306"

#those next variables are optional
#MYSQL_POOL_NAME="mycloude_pool"        #default pool
#MYSQL_POOL_SIZE="5"                   #default pool size



###################################################################################################
#                           [JWT AUTENTIFICATION ENVIRONMENT VARIABLES]                           #
###################################################################################################

#RUN "openssl rand -hex 32" TO CREATE YOUR OWN SECRET KEY
#I've generated one for you

SECRET_KEY="1a22c4c98466f5a34dc7627859d54ad85a8a999be227e71698cbe9a13f053e55" #DEFAULT ONE, CHANGE IT BY RUNNING 'openssl rand -hex 32'
#algorithm to sign the criptography
ALGORITHM="HS256"
#how much time for the token to expire
ACCESS_TOKEN_EXPIRE_MINUTES="15"

###################################################################################################
#                           [SYSTEM METRICS ENVIRONMENT VARIABLES]                                #
###################################################################################################

#this is used to override your metrics path, you can leave it as it is
#PROCFS_PATH=""

#this is used frome the metrics manager always to register your system pulse
#you can leave it as it is
#METRICS_ROOT_PATH="/" 